<div class="sidebar__area" [class.sidebar-opened]="sidebarOpen | async">
  <div class="sidebar__wrapper">
    <div class="sidebar__close">
      <button class="sidebar__close-btn" id="sidebar__close-btn" (click)="toggleSidebar()">
        <i class="fal fa-times"></i>
      </button>
    </div>
    <div class="sidebar__content">
      <div class="sidebar__logo mb-40">
        <a href="/">
          <img src="assets/svgs/sidebar-logo.svg" alt="Logo">
        </a>
      </div>
      <div class="sidebar__search">
        <form action="#">
          <input type="text" placeholder="What are you searching for?" />
          <button type="submit"><i class="far fa-search"></i></button>
        </form>
      </div>
      <div class="mobile-menu fix"></div>
      <div class="sidebar__contact mt-30 mb-20">
        <h4>Contact Info</h4>
        <ul>
          <li class="d-flex align-items-center">
            <div class="sidebar__contact-icon">
              <i class="fal fa-map-marker-alt"></i>
            </div>
            <div class="sidebar__contact-text">
              <a target="_blank" href="#">Sincelejo Golden <br>EAS Line SL, COL</a>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <div class="sidebar__contact-icon">
              <i class="far fa-phone"></i>
            </div>
            <div class="sidebar__contact-text">
              <a href="tel:+012-345-6789">088889797697</a>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <div class="sidebar__contact-icon">
              <i class="fal fa-envelope"></i>
            </div>
            <div class="sidebar__contact-text">
              <a href="mailto:info@gmail.com">info@efficode.com</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="sidebar__social">
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>