<section class="testimonial-section ptb-140 bg-light-blue">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 text-center">
        <h3 class="sec-title">
          Testimonios
        </h3>
        <p class="mb-64 ">
          Lo que nuestros clientes dicen sobre EFFICODE.
        </p>
      </div>
      <div class="col-sm-12">
        <div class="testimonial-slider owl-carousel owl-theme">
          <div class="item">
            <div class="single-testimonial">
              <div class="row align-items-center">
                <div class="col-sm-3">
                  <img src="https://via.placeholder.com/100" class="rounded-circle" alt="">
                </div>
                <div class="col-sm-6">
                  <h4 class="testimonial-author heading-style2">
                    Laura Pérez
                  </h4>
                  <span class="author-title">PropertyApp</span>
                </div>
                <div class="col-sm-2">
                  <div class="hero-site-info">
                    <div class="hero-single-site-info site-info1 d-sm-flex align-items-center">
                      <div class="site-reting mx-2">
                        <ul class="site-retting-info d-block">
                          <li>5.0</li>
                        </ul>
                      </div>
                      <div class="site-reting">
                        <ul class="reting ">
                          <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-content mt-26 ">
                <p>
                  EFFICODE superó nuestras expectativas al desarrollar
                  PropertyApp rápidamente y con calidad excepcional.
                  Su experiencia nos permitió simplificar la gestión
                  de propiedades y mejorar la conectividad de nuestras
                  comunidades.
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="single-testimonial">
              <div class="row align-items-center">
                <div class="col-sm-3">
                  <img src="https://via.placeholder.com/100" class="rounded-circle" alt="">
                </div>
                <div class="col-sm-6">
                  <h4 class="testimonial-author heading-style2">
                    Pedro Rodríguez
                  </h4>
                  <span class="author-title">DomiApp</span>
                </div>
                <div class="col-sm-2">
                  <div class="hero-site-info">
                    <div class="hero-single-site-info site-info1 d-sm-flex align-items-center">
                      <div class="site-reting mx-2">
                        <ul class="site-retting-info d-block">
                          <li>4.7</li>
                        </ul>
                      </div>
                      <div class="site-reting">
                        <ul class="reting ">
                          <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="testimonial-content mt-26 ">
                <p>
                  EFFICODE hizo posible que Domiapp cobrara vida rápidamente.
                  Su experiencia y eficiencia nos permitieron lanzar nuestra
                  aplicación de domicilios en tiempo récord. Gracias a ellos,
                  conectamos a negocios locales con clientes de manera efectiva
                  y eficiente, mejorando la experiencia de entrega para todos.
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="single-testimonial">
              <div class="row align-items-center">
                <div class="col-sm-3">
                  <img src="https://via.placeholder.com/100" class="rounded-circle" alt="">
                </div>
                <div class="col-sm-6">
                  <h4 class="testimonial-author heading-style2">
                    Sofia Martínez
                  </h4>
                  <span class="author-title">Zinnia</span>
                </div>
                <div class="col-sm-2">
                  <div class="hero-site-info">
                    <div class="hero-single-site-info site-info1 d-sm-flex align-items-center">
                      <div class="site-reting mx-2">
                        <ul class="site-retting-info d-block">
                          <li>4.8</li>
                        </ul>
                      </div>
                      <div class="site-reting">
                        <ul class="reting ">
                          <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="testimonial-content mt-26 ">
                <p>
                  EFFICODE ha sido un aliado esencial en la creación de Zinnia,
                  nuestra aplicación para restaurantes. Su experiencia y enfoque
                  en la calidad nos han ayudado a brindar a nuestros usuarios una
                  solución robusta y eficaz para la gestión de restaurantes.
                  Gracias a EFFICODE, estamos transformando la industria gastronómica
                  y simplificando la operación de nuestros clientes.
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="single-testimonial">
              <div class="row align-items-center">
                <div class="col-sm-3">
                  <img src="https://via.placeholder.com/100" class="rounded-circle" alt="">
                </div>
                <div class="col-sm-6">
                  <h4 class="testimonial-author heading-style2">
                    Alejandro González
                  </h4>
                  <span class="author-title">SympleRPA</span>
                </div>
                <div class="col-sm-2">
                  <div class="hero-site-info">
                    <div class="hero-single-site-info site-info1 d-sm-flex align-items-center">
                      <div class="site-reting mx-2">
                        <ul class="site-retting-info d-block">
                          <li>4.9</li>
                        </ul>
                      </div>
                      <div class="site-reting">
                        <ul class="reting ">
                          <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="testimonial-content mt-26 ">
                <p>
                  SympleRPA ha cambiado la forma en que hacemos negocios.
                  Su solución de automatización robótica de procesos ha
                  simplificado nuestras operaciones y reducido los errores humanos.
                  Estamos impresionados con la rapidez y eficiencia con la que
                  EFFICODE implementó esta solución. Gracias a ellos, hemos ganado
                  tiempo y recursos valiosos, lo que nos permite enfocarnos en tareas
                  más estratégicas para nuestro negocio.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>