<section class="hero-section bg-blue">
  <div class="section-overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ">
          <div class="hero-content">
            <h1 class="hero-title">
              Transformando Ideas en <span class="tx-white ">Soluciones Digitales</span>
            </h1>
            <div class="hero-site-info">
              <div class="hero-single-site-info site-info1 d-sm-flex align-items-center">
                <div class="site-reting d-flex">
                  <ul class="reting ">
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
                <div class="site-reting ms-4">
                  <ul class="site-retting-info d-block">
                    <li>4900+ 5 Stars</li>
                  </ul>
                </div>
              </div>
            </div>

            <p class="mt-4">
              Tu socio líder en transformación digital y optimización de software.
              Desarrollamos soluciones a medida que impulsan la innovación y el éxito
              digital de tu negocio.
            </p>

            <div class="row">
              <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="newsletter text-center ">
                  <div class="site-sub">
                    <form action="#">
                      <input class="mx-2" type="email" placeholder="Ingresa tu correo electrónico" />
                      <button type="submit" class="eff-btn">Contactanos</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6 ">
          <img src="assets/img/main-2.png" alt="hero-img" />
        </div>

      </div>
    </div>


    <section class="brand-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <div class="brand-slider owl-carousel owl-theme">
                <div class="item">
                  <div class="brand-item">
                    <img src="assets/img/brand-1.png" alt="brand" />
                  </div>
                </div>
                <div class="item">
                  <div class="brand-item">
                    <img src="assets/img/brand-2.png" alt="brand" />
                  </div>
                </div>
                <div class="item">
                  <div class="brand-item">
                    <img src="assets/img/brand-5.png" alt="brand" />
                  </div>
                </div>
                <div class="item">
                  <div class="brand-item">
                    <img src="assets/img/brand-3.png" alt="brand" />
                  </div>
                </div>    
                <div class="item">
                  <div class="brand-item">
                    <img src="assets/img/brand-4.png" alt="brand" />
                  </div>
                </div>                  
              </div>
            </div>
        </div>
      </div>
    </section>
  </div>
</section>