@media (max-width: 1399px) {
  .about-section {
    padding-bottom: 140px;
  }
}

@media only screen and (max-width: 1200px) {
  .about-section .sec-content {
    margin-top: 152px;
  }
}

@media (max-width: 991px) {
  .pb-100 {
    padding-bottom: 60px;
  }

  .pt-100 {
    padding-top: 60px;
  }

  .ptb-140 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .pb-140 {
    padding-bottom: 100px;
  }

  .pt-140 {
    padding-top: 100px;
  }

  .pt-240 {
    padding-top: 200px;
  }

  .sec-content {
    text-align: center;
  }

  .sec-title {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 58px;
  }

  .about-section .sec-content {
    margin-top: 106px;
  }

  .single-case-info {
    margin-bottom: 40px;
    text-align: center;
  }

  .case-slider .single-case-info {
    margin-bottom: 0;
  }

  .contact-section .sec-content h3.sec-title {
    margin-top: 0;
  }

  .case-support-info {
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .case-support-info .support-info-overlay {
    text-align: center;
  }

  .case-support-info .support-info-overlay h4 {
    margin: 38px 0 12px;
  }

  .wow {
    animation-name: none !important;
    visibility: visible !important;
  }
}

@media (max-width: 767px) {
  .pb-100 {
    padding-bottom: 40px;
  }

  .pt-100 {
    padding-top: 40px;
  }

  .ptb-140 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .pb-140 {
    padding-bottom: 80px;
  }

  .pt-140 {
    padding-top: 80px;
  }

  .pt-240 {
    padding-top: 180px;
  }

  .sec-title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 46px;
  }

  .about-section .sec-content {
    margin-top: 80px;
  }

  .testimonial-slider {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .single-testimonial {
    text-align: center;
  }

  .form-style-2 {
    padding: 28px;
  }

  .site-sub form {
    position: relative;
  }

  .newsletter form {
    display: inherit !important;
  }

  .site-sub form i {
    left: 26px;
    top: 27px;
    font-size: 20px;
  }

  .site-sub form input {
    border-radius: 30px !important;
    width: 100% !important;
    text-align: center;
    padding: 10px 42px !important;
  }

  .site-sub form button {
    border-radius: 30px !important;
    width: 100% !important;
    margin-top: 10px;
    padding: 15px 32px !important;
  }

  .case-slider .owl-nav {
    display: none;
  }

  .case-support-info {
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

@media (max-height: 625px) {
  .eff-btn {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 992px) {
  #loader {
    left: 60%;
  }

  .eff-btn {
    margin-bottom: 20px;
    padding: 10px 12px;
  }

  .dropdown {
    padding: 0 14px;
    margin: 0 !important;
  }

  .mt-btn {
    padding: 10px !important;
  }

  p {
    font-size: 18px !important;
    line-height: 22px !important;
  }

  .single-testimonial img {
    width: 100px !important;
    margin: 0 auto;
  }

  .testimonial-section {
    padding: 60px 30px;
  }

  .testimonial-content {
    margin: 3px 0 !important;
  }

  .single-testimonial {
    text-align: center;
    padding: 15px 20px;
  }

  .site-reting {
    text-align: center;
    display: block !important;
  }

  .single-testimonial .testimonial-content p {
    font-size: 14px !important;
    line-height: 14px !important;
  }

  .heading-style2 {
    font-size: 18px !important;
    line-height: 18px !important;
    margin: 14px 0 0 !important;
  }

  .brand-slider {
    background-color: #fff;
    padding: 20px !important;
    bottom: 64px;
  }

  .sec-title {
    margin-top: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .site-sub form input {
    margin: 0 !important;
  }

  .about-section .sec-content {
    margin-top: 60px;
  }

  .case-support-info .support-info-overlay h4 {
    margin: 24px 0 12px;
  }
}
