.hero-section2 {
  background-image: url("../../../../assets/img/Bg3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: stretch;
  position: relative;
}

