<section class="case-studies-section ptb-140">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="case-slider owl-carousel owl-theme">
          <!-- Slider-1 -->
          <div class="item">
            <div class="row align-items-center">
              <div class="col-xl-5">
                <div class="sec-content">
                  <h3 class="sec-title mb-26">
                    <span class="hero-tagline">Automatización Robótica de Procesos (RPA):</span>
                    Eficiencia
                    Empresarial Redefinida.
                  </h3>
                  <p class="mb-64">
                    Tu Socio en Eficiencia Empresarial. En EFFICODE,
                    aplicamos la Automatización Robótica de Procesos
                    para optimizar tareas y liberar tiempo para lo estratégico,
                    impulsando tu éxito en la era digital.
                  </p>
                </div>
              </div>
              <div class="col-xl-6 offset-xl-1 order-first order-xl-1">
                <div class="about-sec-img">
                  <img src="assets/img/dashboard-5.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <!-- Slider-2 -->
          <div class="item">
            <div class="row align-items-center">
              <div class="col-xl-5">
                <div class="sec-content">
                  <h3 class="sec-title mb-26">
                    Tu Socio en el <span class="hero-tagline">Éxito </span> Digital.
                  </h3>
                  <p class="mb-64">
                    En EFFICODE, nos guían principios fundamentales: seguridad sólida,
                    diseño responsive, calidad inquebrantable y facilidad de uso.
                    Estos valores se reflejan en cada solución que creamos para garantizar
                    el éxito digital de tu negocio.
                  </p>
                </div>
              </div>
              <div class="col-xl-6 offset-xl-1 order-first order-xl-1">
                <div class="about-sec-img">
                  <img src="assets/img/dashboard-2.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <!-- Slider-3 -->
          <div class="item">
            <div class="row align-items-center">
              <div class="col-xl-5">
                <div class="sec-content">
                  <h3 class="sec-title mb-26">
                    <span class="hero-tagline">Datos </span> que Potencian Resultados.
                  </h3>
                  <p class="mb-64">
                    En EFFICODE, creemos en la fuerza de los datos para optimizar tus resultados.
                    Nuestra experiencia en análisis de datos te brinda la claridad que necesitas
                    para tomar decisiones informadas y transformar tus datos en acciones efectivas
                    que impulsan tu éxito digital.
                  </p>
                </div>
              </div>
              <div class="col-xl-6 offset-xl-1 order-first order-xl-1">
                <div class="about-sec-img">
                  <img src="assets/img/dashboard-6.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <!-- Slider-4 -->
          <div class="item">
            <div class="row align-items-center">
              <div class="col-xl-5">
                <div class="sec-content">
                  <h3 class="sec-title mb-26">
                    <span class="hero-tagline">Business Intelligence: </span>Estrategia basada en
                    Datos.
                  </h3>
                  <p class="mb-64">
                    El Business Intelligence (BI) es el motor que impulsa la estrategia de tu
                    negocio.
                    En EFFICODE, aprovechamos el poder del BI para convertir tus datos en
                    conocimientos
                    estratégicos. Nuestra experiencia en BI te brinda una visión clara de tu empresa
                    y
                    te ayuda a tomar decisiones informadas que impulsan el crecimiento y el éxito.
                  </p>
                </div>
              </div>
              <div class="col-xl-6 offset-xl-1 order-first order-xl-1">
                <div class="about-sec-img">
                  <img src="assets/img/dashboard-7.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <!-- Slider-5 -->
          <div class="item">
            <div class="row align-items-center">
              <div class="col-xl-5">
                <div class="sec-content">
                  <h3 class="sec-title mb-26">
                    Seguridad Informática Certificada <span class="hero-tagline">(ISO 27001) </span>
                  </h3>
                  <p class="mb-64">
                    La seguridad informática es una prioridad en EFFICODE. Nos enorgullece contar
                    con la certificación ISO 27001, un estándar reconocido a nivel internacional
                    que garantiza la protección de tus datos y activos digitales. Puedes confiar
                    en que tus proyectos están en manos seguras con nosotros. Descubre cómo nuestra
                    dedicación a la seguridad informática fortalece tu confianza en cada solución
                    que ofrecemos.
                  </p>
                </div>
              </div>
              <div class="col-xl-6 offset-xl-1 order-first order-xl-1">
                <div class="about-sec-img">
                  <img src="assets/img/dashboard-8.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>